:root {
    --green:#00b289;
    --gray:#4c4d5f;
    --white:#fff;
    --yellow:#f8db62;
}

/* @font-face {
    font-family: 'Proximanova opt';
    src: url('http://web.archive.org/web/20221117021711im_/https://assets.website-files.com/58868bcd2ef4daaf0f072900/61e054f1b4d4be22816a4fbf_ProximaNova-Light-opt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: 'Amerigo-bt roman opt';
    src: url('/assets/font/Amerigo\ BT\ Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Proximanova opt', sans-serif;
    color: #4c525a;
    font-size: 14px;
    color: var(--gray);
    max-width: 1120px;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}




header {
    height: 80px;
    /* background: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: 400;
}

.navbar > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 5%;
}

.navbar > ul > li {
    cursor: pointer;
}

.dropdown-text {
    padding: 16px 8px 16px 0px;
    color: #4c4d5f;
}

.dropdown-arrow {
    /* TODO: Research */
    background-position: 50% 50%;
}

.ms-10 {
    margin-left: 10px;
}

.button {
    padding: 12px 22px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--green);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    /* TODO: Research */
    line-height: 16px;
    letter-spacing: .6px;
}

.button-primary {
    background: var(--green);
    color: var(--white);
}

.button-primary:hover {
    border-color: #00a37e;
    background-color: #00a37e
}

.button-secondary {
    background: var(--white);
    color: var(--green);
}

.button-secondary:hover {
    background: var(--green);
    color: var(--white);
}




main {
    padding-top: 110px;
    padding-bottom: 40px;
}




.pricing-head {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    gap: 100px;
}

.amerigo {
    font-family: 'Amerigo-bt roman opt', sans-serif;
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 400;
    margin: 0;
}

.pricing-options {
    display: flex;
    align-items: center;
    gap: 28px;
    text-transform: uppercase;
    font-weight: 550;
    position: relative;
}

.toggle {
    display: flex;
}

.toggle > label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 3px;
    border-radius: 25px;
    background-color: var(--green);
}

.toggle > label > input {
    display: none;
}

.toggle-ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--white);
}

.months-free {
    position: absolute;
    right: -20px;
    top: -30px;
}



.pricing-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.pricing-item {
    overflow: hidden;
    position: relative;
    width: 25%;
    border-radius: 5px;
    padding: 6% 4%;
    border: .3px solid rgba(2, 4, 69, .15);
    border-radius: 4px;
    background-color: #fbfcff;
    box-shadow: 0 0 68px 0 rgba(2, 4, 69, .08);
    display: flex;
    flex-direction: column;
}

.pricing-item > p {
    font-size: 12px;
}

.price {
    border-bottom: 2px solid var(--green);
    display: flex;
    align-items: baseline;
}

.price > .currency {
    font-size: 2rem;
    font-weight: 400;
    /* line-height: 28px; */
    align-self: center;
    position: relative;
    top: -10px;
}

.price > .amount {
    font-size: 4rem;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
}

.price > .period {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.feature-list {
    padding: 40px 0px;
}

.feature {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 23px;
    display: flex;
}

.feature > img {
    width: 12px;
    margin-right: 10px;
}

.pricing-item > .button {
    /* width: 100%; */
    display: block;
    padding: 22px 24px;
    font-weight: 700;
    letter-spacing: .7px;
    margin-top: auto;
}

.popular-tag {
    position: absolute;
    width: 120%;
    left: auto;
    top: 50px;
    right: -150px;
    transform: rotate(45deg);
    text-align: center;
    background: var(--green);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    padding: 11px 0px;
}




.workflow-head {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.workflow-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workflow-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, .05);
}

.workflow-description > h2{
    margin-top: 0;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.4;
}

.workflow-description > p{
    margin-top: 0;
    font-weight: 300;
    font-size: 1rem;
}

.workflow-description > .learn-more {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--green);
}

/* .workflow-description > .learn-more > img {
    animation: all 1s ease-in;
}   

.workflow-description > .learn-more > img:hover {
    transform: translateX(100px);
} */

.workflow-price {
    width: 20%;
    text-align: center;
    padding: 36px;
}

.workflow-price > .amount {
    font-size: 2rem;
    line-height: 140%;
    font-weight: 700;
}

.workflow-price > .period {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 133%;
    font-weight: 400;
}