:root {
    --green:#00b289;
    --gray:#4c4d5f;
    --white:#fff;
    --yellow:#f8db62;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--gray);
    max-width: 1120px;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: 400;
}

.navbar > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 5%;
}

.navbar > ul > li {
    cursor: pointer;
}

.dropdown-text {
    padding: 16px 8px 16px 0px;
    color: #4c4d5f;
}

.dropdown-arrow {
    /* TODO: Research */
    background-position: 50% 50%;
}

.ms-10 {
    margin-left: 10px;
}

.button {
    padding: 12px 22px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--green);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    /* TODO: Research */
    line-height: 16px;
    letter-spacing: .6px;
}

.button-primary {
    background: var(--green);
    color: var(--white);
}

.button-primary:hover {
    border-color: #00a37e;
    background-color: #00a37e
}

.button-secondary {
    background: var(--white);
    color: var(--green);
}

.button-secondary:hover {
    background: var(--green);
    color: var(--white);
}