:root {
    --green:#00b289;
    --gray:#4c4d5f;
    --white:#fff;
    --yellow:#f8db62;
}

/* @font-face {
    font-family: 'Proximanova opt';
    src: url('http://web.archive.org/web/20221117021711im_/https://assets.website-files.com/58868bcd2ef4daaf0f072900/61e054f1b4d4be22816a4fbf_ProximaNova-Light-opt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: 'Amerigo-bt roman opt';
    src: url('/assets/font/Amerigo\ BT\ Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--gray);
    max-width: 1120px;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Amerigo-bt roman opt', sans-serif;
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 400;
    margin: 0;
}




header {
    height: 80px;
    /* background: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: 400;
}

.navbar > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 5%;
}

.navbar > ul > li {
    cursor: pointer;
}

.dropdown-text {
    padding: 16px 8px 16px 0px;
    color: #4c4d5f;
}

.dropdown-arrow {
    /* TODO: Research */
    background-position: 50% 50%;
}

.ms-10 {
    margin-left: 10px;
}

.button {
    padding: 12px 22px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--green);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    /* TODO: Research */
    line-height: 16px;
    letter-spacing: .6px;
}

.button-primary {
    background: var(--green);
    color: var(--white);
}

.button-primary:hover {
    border-color: #00a37e;
    background-color: #00a37e
}

.button-secondary {
    background: var(--white);
    color: var(--green);
}

.button-secondary:hover {
    background: var(--green);
    color: var(--white);
}




main {
    padding-top: 110px;
    padding-bottom: 40px;
}




.pricing-head {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    gap: 100px;
}

.pricing-options {
    display: flex;
    align-items: center;
    gap: 28px;
    text-transform: uppercase;
    font-weight: 550;
    position: relative;
}

.toggle {
    display: flex;
}

.toggle > label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 3px;
    border-radius: 25px;
    background-color: var(--green);
}

.toggle > label > input {
    display: none;
}

.toggle-ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--white);
}

.months-free {
    position: absolute;
    right: -20px;
    top: -30px;
}